blockquote {
  width: 100%;
  max-width:1170px;
  margin: 30px auto;
  box-sizing: border-box;
  padding: 10px 10px 10px 50px;
  border-left: 8px solid map-get(theme-color(), 'color');
  border-right: 3px solid map-get(theme-color(), 'color');
  box-shadow: 2px 2px 15px #ccc;
  position: relative;
  line-height: 1.3em;
  text-align: justify;
  p {
    margin: 0 !important;
  }
}

blockquote:before {
  content: "\201C";
  font-size: 30px;
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  color: #757575;
  left:10px;
  top:26px;
}