.call-to-action {
  display: flex;
  min-height: 50vh;
  background-position: 50% 50%;

  &__container {

    align-self: center;
    text-align: center;
    // Make text a little bit easier to read
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    @include md() {
      max-width: 50%;
    }
    h1 {
      font-size: 2rem;
      @include md() {
        font-size: $font-size-display-3;
      }
    }
  }


}
