$headroom-header-z-index: 99;

.headroom {
  will-change: transform;
  transition: transform 0.2s linear;
}

.headroom--unpinned {
  transform: translateX(-100%);
  @include sm() {
    transform: translateX(-200px);
  }
}

.headroom--pinned {
  transform: translateX(0%);
  .navbar {
    a {
      color: white !important;
      @include sm() {
        color: $main-brand-colour !important;
      }
    }
  }
  background-color: $main-brand-colour;
  @include sm() {
    background-color: transparent;
  }
}

.headroom--top {
  .navbar {
    background-color: $main-brand-colour;
    a {
      color: white !important;
    }
  }
}

// if the header has the headroom class, add the required styles.
// This avoids the style guide having weird styling
header.headroom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $headroom-header-z-index
}
