// Custom Scrollbars

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(57,57,57, .1);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(156, 156, 156, .6);
}

body {
  min-width: 300px;
  overflow-x: hidden;
}

img {
  pointer-events: none;
}

html {
  overflow-x: hidden;
}

// override button colour
.btn-primary {
  color: white !important;
}

.dataTables_wrapper {
  margin: 1em 0;
  .row {
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
  }
  .sorting_asc, .sorting_desc, .sorting {
    cursor: pointer;
  }
}

body {
  margin-top: 58px;
  @include sm() {
    margin-top: 0;
  }
}

