@import "~daemonite-material/assets/scss/colors";


$primary: (
    color: #ffa000,
    dark:  darken(#ffa000, 20%),
    light: lighten(#ffa000, 20%)
);

$secondary: (
    color: $material-color-teal-a200,
    dark:  $material-color-teal-a400,
    light: $material-color-teal-a100
);
